<div class="content">
  <div class="col-md-12 form-group buttonContainer">
    <div *ngIf="isLoggedIn">
      <button type="button" class="btn btn-primary btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off"
              (click)="filterProjects($event)">
        Show My Projects
      </button>
    </div>
    <div *ngIf="isMobileDevice">
      <button type="button" class="btn btn-primary btn-sm right" data-toggle="button" aria-pressed="false" autocomplete="off"
              (click)="storeProjectsOffline($event)">
        View Offline
      </button>
    </div>
  </div>
  <div class="listWrapper">
    <div class="scrollBox" id="scrollBox" (scroll)="onScroll($event)">
      <div class="card col-md-12" *ngFor="let project of projects">
        <div class="card-body">
          <h5 class="card-title">{{project.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted" *ngIf="project.website">
            <a href="{{project.website}}">Visit Website</a>
          </h6>
          <p class="card-text">{{project.purpose}}</p>
          <h6 class="card-subtitle mb-2 text-muted">{{project.tools}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{project.needs}}</h6>

          <a href="#" class="card-link"
             (click)="apply(project.id)"
             *ngIf="!project.applied">
            Support Project
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
