<div class="content">
  <div class="listWrapper">
    <div class="scrollBox" id="scrollBox" (scroll)="onScroll($event)">
      <div class="card col-md-12" *ngFor="let project of projects">
        <div class="card-body">
          <h5 class="card-title">{{project.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted" *ngIf="project.website">
            <a href="{{project.website}}">Visit Website</a>
          </h6>
          <p class="card-text">{{project.purpose}}</p>
          <h6 class="card-subtitle mb-2 text-muted">{{project.tools}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{project.needs}}</h6>

          <a href="#" class="card-link"
             (click)="apply(project.id)"
             *ngIf="!project.applied">
            Support Project
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
