.content {
  width: 90%;
  height: 90%;
  margin: auto;
}

div.card, .buttonContainer {
  margin-top: 10px !important;
}

.listWrapper {
  overflow: auto;
}

.listWrapper, .buttonContainer {
  width: 90%;
  margin: auto;
}

li {
  list-style: none;
}

.right {
  float: right;
}

.left {
  float: left;
}

.scrollBox {
  margin: auto;
  overflow: auto;
}
